<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @denomination.name %>
</p>

<%= link_to 'Edit', edit_denomination_path(@denomination) %> |
<%= link_to 'Back', denominations_path %>
